.panel panel-default{
  border-radius: 20px;
}

body {

}

html, body {
  background-color: #F7C4A5;
}

.container {
  background-color: #E9FAE3;
}

.well {
  background-color: #CBDFBD;
}

#numbersList {
  padding-top: 10px;
  background-color: #FCFCFC;
}

#info {
  padding: 10px;
}

.picture {
  display: none;
  height: 200px;
}
